/* src/Shared_css/Login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    height: 370px;
}

.login-box {
    background-color: #0071b3;
    border-radius: 55px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    max-width: 100%;
    padding: 25px;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.role-selection {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #15addc;
    border: 2px solid #a5eaff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    padding: 10px;
    text-align: center;
}

.circle:hover {
    border-color: #007bff; 
}

.login-form {
    margin-top: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.login-form button {
    width: 70%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #0056b3;
}

.login-box p {
    margin-top: 20px;
    font-size: 14px;
}

.login-box a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.login-box a:hover {
    color: #0056b3;
}
